.introImg {
    border-radius: 50%;
  }

.introText{
    padding-top: 200px;
}

#projects {
    margin-bottom: 10%;
}

.linkedin {
    width: 55px;
}

.linked {
    margin-top: 1%;
}

.linkeda {
    margin-left: 4%;
    font-size: 120%;
}

.linkeda:hover {
    color: #1d4382;
}

.introlead {
    margin-bottom: 18%;
}

.atmail {
    margin-top: -40%;
    font-size: 250%;
}

.maildiv {
    margin-top: 0.8%;
}

.atdiv {
    margin-left: 3%;
}