.jumboContainer{
    margin-top: 77px;
    margin-bottom: 70px;
}

.jumbotron{
    object-fit: cover;
    height: 450px;
    background-image: url(../images/aboutMe.jpg);
    background-position: 0% 90%;
    background-repeat: no-repeat;
    background-size: 100% auto;
    color: white;
}

.headline{
    text-align: center;
}
