.blomtainer{
    margin-right: 3%;
    margin-top: 10px;
  }
  
.blomtainer a{
    font-size: 25px;
}

.nav-link{
margin-right: 20px;
}

#navbarNav a{
font-size: 18px;
color: #1d4382;
}

#navbarNav a:hover {
  border-bottom: 2px solid #1d4382;
  font-weight: 500
}

h4{
color: #1d4382;
}

#HeaderText:hover {
  border: 0px;
}

