.processPic {
    height: 90px;
}

.protoPic {
    width: 90%;
    margin-bottom: 2%;
}

.wirePic {
    width: 90%;
}

.foggPic {
    width: 60%;
    margin-top: 2%;
    margin-bottom: 4%;
}

.mapPic {
    width: 90%;
    height: 300px;
    margin-bottom: 3%;
    object-fit: cover;
}

.typePic {
    width: 90%;
    margin-bottom: 3%;
}

.processContainer {
    margin: 3%;
}

.blue {
    color: #1d4382;
}

h6 {
    margin-bottom: -3%;
    color: #1d4382;
}

.modal-content {
    padding: 3%;
}

.pop {
    background-color: rgba(29, 67, 130, 0.1);
}
