.processPic {
    height: 90px;
}

.protoPic {
    width: 100%;
    margin-bottom: 4%;
    margin-top: 3%;
}

.wirePic {
    width: 90%;
}

.moodPic {
    width: 90%;
    margin-bottom: 4%;
}

.foggPic {
    width: 50%;
    margin-top: 2%;
    margin-bottom: 4%;
    margin-left: 5%;
}

.sitePic {
    width: 95%;
    margin-left: 2%;
}

.mapPic {
    width: 90%;
    height: 300px;
    margin-bottom: 3%;
    object-fit: cover;
}

.hifiPic {
    width: 90%;
    margin-bottom: 3%;
}

.typePic {
    width: 90%;
    margin-bottom: 3%;
}

.processContainer {
    margin: 3%;
}

.blue {
    color: #1d4382;
}

h6 {
    margin-bottom: -3%;
    color: #1d4382;
}

.info{
    margin-bottom: 0%;
}

.introinfo {
    margin-bottom: 3%;
}

.modal-content {
    padding: 3%;
}

.pop {
    background-color: rgba(29, 67, 130, 0.1);
}
