.processPic {
    height: 90px;
}

.protoPic {
    width: 80%;
    margin-bottom: 2%;
}

.wirePic {
    width: 80%;
}

.processContainer {
    margin: 3%;
}

.blue {
    color: #1d4382;
}

h6 {
    margin-bottom: -3%;
    color: #1d4382;
}

.modal-content {
    padding: 3%;
}
